/* Existing map container styles */
.map-container {
    width: 100%;
    height: 100vh;
    /* Adjust as necessary */
}

/* Add styles for the popup */
.ol-popup {
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
    display: none;
    /* Initially hidden */
}

.map-container-div {
    padding: 10px 20px;
    background-color: #cccccc3f;
}