<div *ngIf="article" class="news-card" [ngStyle]="{'width': width, 'height': height}" (click)="get(article.urlAsText)">
    <div class="image-container">
        <div class="gradient-img">
        </div>
        <img [src]="article.coverImagePath" alt="{{article.title}}">

        <div *ngIf="categoryName" [style.backgroundColor]="categoryColor" class="category">{{categoryName}}</div>
    </div>
    <div class="info-container">
        <h2 class="news-title">{{article.title}}</h2>
        <div class="details-meta">
            <span class="creator">{{article.createdByFullName}}</span>
            <span class="date">{{article.createdAt | date:'MMM d, y'}}</span>
            <span class="views">{{article.totalNumberOfViews}} <i class="fa fa-eye card-small-icon"></i></span>
            <span class="rating">{{article.ratingAvg}} <i class="fa fa-star card-small-icon"></i></span>
        </div>
    </div>
</div>