<!-- Loader shown when isLoading is true -->
<div *ngIf="isLoading" class="loader">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
</div>

<h1 class="pageTitle"><i> <i class="fa-solid fa-house-flood-water"></i><b>System Analyzer</b></i></h1>

<div *ngIf="!isLoading" class="row">
    <div class="col-xl-6">
        <div style="display: flex; justify-content: center; margin-top: 50px;">
            <ngx-charts-bar-vertical [view]="view" [results]="hashTagData" [gradient]="gradient" [xAxis]="showXAxis"
                [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="col-xl-6">
        <div style="display: flex; justify-content: center; margin-top: 50px;">
            <ngx-charts-pie-chart [view]="view" [results]="categoryData" [gradient]="gradient" [legend]="showLegend"
                [doughnut]="false" [labels]="true">
            </ngx-charts-pie-chart>
        </div>
    </div>
</div>