<div class="social-media-container">
    <h2>Follow Us</h2>
    <div class="social-media-buttons">
        <a class="btn facebook" href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
        <a class="btn twitter" href="#"><i class="fa-brands fa-twitter"></i> X (Twitter)</a>
        <a class="btn instagram" href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
        <a class="btn tiktok" href="#"><i class="fa-brands fa-tiktok"></i> TikTok</a>
        <a class="btn whatsapp" href="#"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a>
        <a class="btn youtube" href="#"><i class="fa-brands fa-youtube"></i> YouTube</a>
        <a class="btn discord" href="#"><i class="fa-brands fa-discord"></i> Discord</a>
        <a class="btn telegram" href="#"><i class="fa-brands fa-telegram"></i> Telegram</a>
        <a class="btn pinterest" href="#"><i class="fa-brands fa-pinterest"></i> Pinterest</a>
        <a class="btn linkedin" href="#"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
        <a class="btn twitch" href="#"><i class="fa-brands fa-twitch"></i> Twitch</a>
        <a class="btn vk" href="#"><i class="fa-brands fa-vk"></i> VK</a>
    </div>
</div>