.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.nav__item {
    list-style: none;
    margin: 0 0.5rem;
}

.nav__link {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav__link:hover,
.nav__link--selected {
    background-color: #808080;
    color: white;
    font-weight: bold;
}


.news-header {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: -6px;
}

.news-header__date {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: rgba(255, 0, 0, 0.87);
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
}

.news-header__icon {
    color: whitesmoke;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.marquee-container .marquee {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    background-color: #000000;
    padding: 1rem;
    font-size: large;
    font-weight: bold;
    color: white;
}

.icon {
    color: #ffffff;
    font-size: 1.3rem;
    margin-left: 20px;
}

.search-icon-home-page {
    cursor: pointer;
}

.marquee-container {
    position: relative;
}

.news-header__date {
    position: absolute;
    right: -15px;
    top: 0;
    margin-top: 6px;
    color: whitesmoke;
    background-color: rgba(255, 0, 0, 0.87);
    padding: 10px;
    border-radius: 10px;
}

.box {
    position: absolute;
    z-index: 1000;
    content: "";
    left: 10px;
    top: 0;
    margin-top: 13px;
    background-color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: colorChange 0.7s infinite alternate;
}

@keyframes colorChange {
    from {
        background-color: red;
    }

    to {
        background-color: #808080;
    }
}


.marquee-container .marquee {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    background-color: #000000;
    padding: 1rem;
    font-size: large;
    font-weight: bold;
    color: white;
}

.icon {
    color: #ffffff;
    font-size: 1.3rem;
    margin-left: 20px;
}

.search-icon-home-page {
    cursor: pointer;
}