<div class="">
    <nav>
        <ul class="nav" *ngIf="generalCategories">
            <li class="nav__item">
                <a class="nav__link" (click)="goToPage('home-all')"
                    [class.nav__link--selected]="selectedNavItem === 'home-all'">
                    Home
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" (click)="goToPage('map')" [class.nav__link--selected]="selectedNavItem === 'map'">
                    Map
                </a>
            </li>
            <li class="nav__item" *ngFor="let category of generalCategories">
                <a class="nav__link" (click)="goToPageById(category.id)"
                    [class.nav__link--selected]="selectedNavItem === 'carigory-articles/' + category.id">
                    {{ category.name }}
                </a>
            </li>
            <li class="nav__item">
                <i class="fa fa-search search-icon-home-page" aria-hidden="true"></i>
            </li>
        </ul>
    </nav>
    <marquee class="marquee" *ngIf="generalArticles">
        <ng-container *ngFor="let article of generalArticles">
            <i class="fa-regular fa-newspaper icon"></i> {{ article.title }}
        </ng-container>
    </marquee>
    <div class="news-header">
        <span class="news-header__date">
            <i class="fa-regular fa-calendar news-header__icon"></i>
            {{ currentDate }}
        </span>
    </div>
</div>