.larg-add {
    margin-top: 10px auto;
    height: 500px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.39);
}

.interested-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    border-top: 2px solid black;
    padding-top: 20px;
}

.interested-in-article {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}