<div class="row mt-2">
    <div class="col-md-9">
        <div *ngIf="thearticle">
            <app-article-for-read [articleBody]="thearticle.bodyStructureAsHtmlCode"></app-article-for-read>
            <div *ngIf="isLoggedIn" class="p-5">
                <hr style="height: 5px; background-color: rgb(102, 97, 97);" />
                <div class="interaction-section">
                    <div class="rating-section">
                        <app-rating-input [maxRating]="5" (ratingSelected)="handleRatingSelected($event)"
                            [rating]="userRating"></app-rating-input>
                    </div>
                    <div class="comments-section-wrapper">
                        <app-article-comments></app-article-comments>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 d-flex flex-column align-items-center justify-content-start">
        <div class="larg-add">
            <app-adds [addSecPath]="'../../../assets/images/adds/addfore.gif'"></app-adds>
        </div>
        <div class="interested-in">
            <h1><b>You may be interested in</b></h1>
            <div *ngFor="let art of someArticles" class="interested-in-article">
                <app-medioum-article-card [article]="art"></app-medioum-article-card>
            </div>
        </div>
    </div>
</div>