html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.circle {
    width: 1em;
    height: 1em;
    margin: 0 0.25em;
    border-radius: 50%;
    background-color: #a8d5e2;
    animation: wave 1.5s infinite ease-in-out;
}

@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1em);
    }
}

.circle:nth-child(1) {
    animation-delay: 0s;
}

.circle:nth-child(2) {
    animation-delay: 0.2s;
}

.circle:nth-child(3) {
    animation-delay: 0.4s;
}

.circle:nth-child(4) {
    animation-delay: 0.6s;
}

.circle:nth-child(5) {
    animation-delay: 0.8s;
}

.pageTitle {
    border-bottom: 1px black dashed;
    width: fit-content;
    text-transform: uppercase;
}

.fa-house-flood-water {
    color: #aed581;
    margin-right: 0.5rem;
}

.mr-2 {
    margin-right: 0.5rem;
}