.site-title {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: #1a1a1a;
    text-align: center;
    font-size: 6rem;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    position: relative;
    z-index: 10;
}

.site-title:hover {
    transform: scale(1.05);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.site-title {
    animation: fadeIn 1.5s ease-out forwards;
}

.hero {
    position: relative;
    background-image: url('../../../assets/images/hero.webp');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    margin-bottom: 20px;
}

.topLine {
    border-top: 2px solid black;
    position: relative;
    height: 20px;
}

.topLine::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 13px;
    width: 50px;
    height: 0;
    border-left: 5px solid var(--triangle-color);
    border-right: 5px solid var(--triangle-color);
    border-top: 5px solid var(--triangle-color);
    border-bottom: 5px solid var(--triangle-color);
    border-radius: 15%;
}


.category-name-title i {
    font-size: larger;
}

@media (max-width: 768px) {
    .site-title {
        font-size: 4rem;
    }
}

.my-container-fluid {
    width: 80%;
    margin: 0 auto;
}

.top-headlines-title {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1;
}

.item-title {
    font-weight: bold;
    margin: 0;
}

.item-category {
    color: blue;
    font-size: small;
}

.item-date {
    color: gray;
    font-size: small;
    margin-left: 10px;
}

.add-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}


.site-footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
}

.footer-content {
    margin-bottom: 10px;
}

.footer-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.footer-button:hover {
    background-color: #0056b3;
}

.footer-info {
    font-size: 12px;
    opacity: 0.8;
}