<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="title-sidbar-container d-flex justify-content-center align-items-center mt-4">
            <h1 class="title-sidebar m-0">Admin Panel</h1>
        </div>
        <hr />
        <ul class="ul-pages-menu">
            <li><a (click)="goToPage('system-analizer')">System Analyzer</a></li>
            <li><a (click)="goToPage('questions-answers-all')">Questions Answers</a></li>
            <li><a (click)="goToPage('hash-tags-all')">Tags</a></li>
            <li><a (click)="goToPage('categories-all')">Categories</a></li>
            <li><a (click)="goToPage('articles-all')">Articles</a></li>
        </ul>
        <hr />
        <div class="title-logout-container d-flex justify-content-center align-items-center mt-4">
            <h4 class="title-logout m-0" (click)="logout()">Logout <i class="fa-solid fa-right-from-bracket"></i></h4>
        </div>
    </mat-drawer>
    <mat-toolbar class="custom-toolbar">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon><i class="fa-solid fa-bars"></i></mat-icon>
        </button>
        <span class="example-spacer"></span>
        <div>
            {{UserFullName}}
            <i class="fa-solid fa-user-gear user-setting"></i>
        </div>
    </mat-toolbar>
    <div class="example-sidenav-content p-4">
        <router-outlet />
    </div>

</mat-drawer-container>