.example-container {
    height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #f4f4f4;
}

.custom-toolbar {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.example-sidenav {
    min-width: 250px;
    max-height: 100vh;
    overflow-y: auto;
    position: fixed;
    background-color: #3949ab;
    color: #ffffff;
}

.title-logout {
    cursor: pointer;
    color: #ffffff;
}

.title-sidebar {
    color: #ffffff;
}

hr {
    border: none;
    height: 2px;
    background: #bdbdbd;
}

.example-sidenav .ul-pages-menu {
    list-style-type: none;
    padding: 0;
    height: 81%;
    overflow-y: auto;
}

.example-sidenav .ul-pages-menu::-webkit-scrollbar {
    width: 8px;
}

.example-sidenav .ul-pages-menu::-webkit-scrollbar-track {
    background: #c5cae9;
}

.example-sidenav .ul-pages-menu::-webkit-scrollbar-thumb {
    background: #3949ab;
    border-radius: 4px;
}

.example-sidenav .ul-pages-menu::-webkit-scrollbar-thumb:hover {
    background: #303f9f;
}

.example-sidenav .ul-pages-menu li a {
    display: block;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.example-sidenav .ul-pages-menu li a:hover {
    background-color: #303f9f;
}

.custom-toolbar {
    background-color: #3949ab;
    color: #ffffff;
}

.user-menu-btn:hover {
    color: #aed581;
}

.page-link {
    cursor: pointer;
}